body{
    background-color: khaki;
    color: black;
    margin: 0;
}

header{
    background-color: khaki;
    color: black;
    margin: 0;
}

header h1{
    margin: 0;
}

nav ul{
    margin: 0;
}

nav ul li{
    background-color: midnightblue;
    color: antiquewhite;
    list-style-type: none;
    display: inline-block;
    margin: 5px;
    padding: 5px 15px;
}

nav ul li a{
    color: antiquewhite;
}